.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-image: url("./wallpaper.jpeg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pr-30 {
  padding-right: 7.75rem;
}

input {
  all: unset;
}

.main {
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.pr-chatroom {
  padding-right: 3.75rem;
}

.bg-color-05 {
  background: rgba(0, 0, 0, 0.5);
}

.bg-color-04 {
  background: rgba(0, 0, 0, 0.4);
}

.bg-color-07 {
  background: rgba(0, 0, 0, 0.7);
}

.bg-color-03 {
  background: rgba(0, 0, 0, 0.3);
}